# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
.env.*
venv/
.Python

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
**/uploads

# pytest
.pytest_cache/

# misc
*.log
